body {
    font-family: Verdana, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quizContainer {
    background-color: rgb(148, 148, 148);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 290px;
    padding: 20px;
    text-align: center;
}

.question {
    font-size: 1.2em;
    color: #000000;
    margin-bottom: 20px;
}

.options {
    list-style: none;
    padding: 0;
}

.options li {
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 2px solid transparent;
}

.options li:hover {
    background-color: #e0e0e0;
    transform: translateY(-3px);
}

.correct {
    background-color: #32cd32;
    color: green;
    border: 2px solid #28a745;
}

.incorrect {
    background-color: #ff6961;
    color: rgb(255, 0, 0);
    border: 2px solid #dc3545;
}

.disabled {
    cursor: not-allowed;
    background-color: #ccc;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#result {
    text-align: end;
    font-size: 1.2em;
    margin-top: 20px;
    color: #000000;
}